extends partials/layout.pug

block content
  h1 About
  p.centertext Robert Tortorelli was born in Idaho and grew up being molded by the high desert wilderness of the Rockies.  With a passion for creating and problem solving he graduated Murray State University with a degree in Engineering Graphics and Design in 2013 and has since completed a six month boot camp at Nashville Software School with a Node.js backend.
  a(target="_blank" href="https://github.com/TSturtledove") Github <br>
  a(target="_blank" href="https://www.linkedin.com/in/robert-tortorelli-tsturtledove/") LinkedIn
