extends partials/layout.pug

block content
  h1 Projects
  h3 Stories:
  p.centertext The idea for stories was to make an online stories repository for families to use.  Users could read through stories at their own pace, saving their place with bookmarks.  Stories also has an audio feature which will play a prerecorded audio file "reading" the current page.  The audio won't progress until you move to the next page, letting the user continue to move at their own pace.  Currently Stories is made with Firebase as an online database and an Angular framework.  I hope to do more work with this project in the future and change what database system is used.
  a(href="https://tsturtledove.github.io/Stories/") Stories
  h3 Orchart:
  p.centertext Orchart is an online organizational tool meant to help Farmers keep track of the treatments they use on trees and plants in their orchards and fields.
  a(href="https://tsturtledove.github.io/Orchart/") Orchart
