body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background-image:
    linear-gradient(
      to bottom right,
      #8cd98c,
      #339933 70%
      );
}

a {
  color: white;
}
.navlink {
  color: white;
  font-size: 2rem;
  padding: 15px;
}

.navback {
  background: #53c653;
  color: #000000;
  text-decoration: none;

}

.centertext {
  padding: auto;
  margin: 20px;
}
